body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffffff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 25%; /* Adjust as needed */
    padding: 10px;
    box-sizing: border-box;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}
